$badge:'badge';
.#{$badge} {
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: 400;
    &.#{$badge}--bold {
        font-weight: 500;
    }
    &.#{$badge}--bolder {
        font-weight: 600;
    }
    &.#{$badge}--boldest {
        font-weight: 700;
    }
    &.#{$badge}--md {
        height: 24px;
        width: 24px;
        font-size: 1rem;
    }
    &.#{$badge}--lg {
        height: 35px;
        width: 35px;
        font-size: 1rem;
    }
    &.#{$badge}--xl {
        height: 50px;
        width: 50px;
        font-size: 1.1rem;
        font-weight: 500;
    }
    &.#{$badge}__pics {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        .#{$badge}__pic {
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            overflow: hidden;
            margin-left: -0.7rem;
            border: 1px solid #ffffff;
            background-color: #f0f3ff;
            color: #a1a8c3;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            position: relative;
            img {
                width: 100%;
            }
            .#{$badge}__pic--last {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
    &.#{$badge}--brand {
        color: #ffffff;
        background: $brand-color;
    }
    &.#{$badge}--outline {
        &.#{$badge}--brand {
            background: transparent;
            color: $brand-color;
            border: 1px solid $brand-color;
            &.#{$badge}--outline-2x {
                border: 2px solid $brand-color;
                margin: 0;
            }
        }
    }
    &.#{$badge}--light {
        color: $body-color;
        background: #ffffff;
        &.#{$badge}--outline {
            background: transparent;
            color: #ffffff;
            border: 1px solid #ffffff;
            &.#{$badge}--outline-2x {
                border: 2px solid #ffffff;
            }
        }
    }
    &.#{$badge}--dark {
        color: #ffffff;
        background: $body-color;
        &.#{$badge}--outline {
            background: transparent;
            color: $body-color;
            border: 1px solid $body-color;
            &.#{$badge}--outline-2x {
                border: 2px solid $body-color;
            }
        }
    }
    &.#{$badge}--primary {
        color: #ffffff;
        background: $primary-color;
        &.#{$badge}--outline {
            background: transparent;
            color: $primary-color;
            border: 1px solid $primary-color;
            margin: 87px;
            &.#{$badge}--outline-2x {
                border: 2px solid $primary-color;
            }
        }
    }
    &.#{$badge}--success {
        color: #ffffff;
        background: $success-color;
        &.#{$badge}--outline {
            background: transparent;
            color: $success-color;
            border: 1px solid $success-color;
            &.#{$badge}--outline-2x {
                border: 2px solid $success-color;
            }
        }
    }
    &.#{$badge}--info {
        color: #ffffff;
        background: $info-color;
        &.#{$badge}--outline {
            background: transparent;
            color: $info-color;
            border: 1px solid $info-color;
            &.#{$badge}--outline-2x {
                border: 2px solid $info-color;
            }
        }
    }
    &.#{$badge}--warning {
        color: #111111;
        background: $warning-color;
        &.#{$badge}--outline {
            background: transparent;
            color: $warning-color;
            border: 1px solid $warning-color;
            &.#{$badge}--outline-2x {
                border: 2px solid $warning-color;
            }
        }
    }
    &.#{$badge}--danger {
        color: #ffffff;
        background: $danger-color;
        &.#{$badge}--outline {
            background: transparent;
            color: $danger-color;
            border: 1px solid $danger-color;
            &.#{$badge}--outline-2x {
                border: 2px solid $danger-color;
            }
        }
    }
    &.#{$badge}--unified-brand {
        color: $brand-color;
        background: rgba(54, 108, 243, 0.1);
    }
    &.#{$badge}--unified-light {
        color: #ffffff;
        background: rgba(255, 255, 255, 0.1);
    }
    &.#{$badge}--unified-dark {
        color: $body-color;
        background: rgba(40, 42, 60, 0.1);
    }
    &.#{$badge}--unified-primary {
        color: $primary-color;
        background: rgba(88, 103, 221, 0.1);
    }
    &.#{$badge}--unified-success {
        color: $success-color;
        background: rgba(29, 201, 183, 0.1);
    }
    &.#{$badge}--unified-info {
        color: $info-color;
        background: rgba(85, 120, 235, 0.1);
    }
    &.#{$badge}--unified-warning {
        color: $warning-color;
        background: rgba(255, 184, 34, 0.1);
    }
    &.#{$badge}--unified-danger {
        color: $danger-color;
        background: rgba(253, 57, 122, 0.1);
    }
    &.#{$badge}--inline {
        height: 0;
        width: auto;
        padding: 0.75rem 0.75rem;
        border-radius: 2px;
        &.#{$badge}--md {
            padding: 0.8rem 0.6rem;
        }
        &.#{$badge}--lg {
            padding: 0.9rem 0.7rem;
        }
        &.#{$badge}--xl {
            padding: 1rem 0.8rem;
        }
    }
    &.#{$badge}--pill {
        border-radius: 2rem;
    }
    &.#{$badge}--rounded {
        border-radius: 4px;
        padding-left: .6rem;
        padding-right: .6rem;
    }
    &.#{$badge}--dot {
        display: inline-block;
        line-height: 6px;
        min-height: 6px;
        min-width: 6px;
        height: 6px;
        width: 6px;
        font-size: 0;
        vertical-align: middle;
        text-align: center;
        &.#{$badge}--sm {
            line-height: 4px;
            min-height: 4px;
            min-width: 4px;
            height: 4px;
            width: 4px;
        }
        &.#{$badge}--lg {
            line-height: 8px;
            min-height: 8px;
            min-width: 8px;
            height: 8px;
            width: 8px;
        }
    }
    &.#{$badge}--xl {
        line-height: 10px;
        min-height: 10px;
        min-width: 10px;
        height: 10px;
        width: 10px;
    }
    &.#{$badge}--square {
        border-radius: 0;
    }
    &.#{$badge}--elevate {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }
    &.#{$badge}--status {
        height: auto;
        width: auto;
        padding: .25rem .65rem;
    }
}