.breadcrumb {
    background: none;
    border-radius: 0;
    font-size: 0.74988rem;
    padding: 1rem 0;
    margin: 0;
    color: $txt-gray;
    a {
        color: $body-color;
        &:hover {
            color: #000;
        }
    }
}