.cms {
  color: $body-color;
  font-size: 1rem;
  line-height: 1.5;

  h1 {
    font-weight: 400;
  }
  h2 {
    font-weight: 400;
  }
  h3 {
    font-size: 1.5rem;
    color: #000;
    font-weight: 400;
  }
  h4 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  h5 {
    font-size: 1rem;
    font-weight: 400;
  }
  h6 {
    font-size: 0.875rem;
    font-weight: 500;
  }
  p {
    color: $txt-gray;
    font-weight: 400;
    margin-bottom: 1rem;
    word-break: break-word;
  }
  &.space {
    padding: 50px 0;
  }
  ul {
    margin: 10px 0;

    li {
      position: relative;
      padding: 5px 0;
      // margin: 0 15px;
      color: currentColor;
      list-style: disc;
      display: list-item;
      list-style-position: inside;
      ul {
        li {
          font-size: 0.875rem;
        }
      }
    }
  }
  ol {
    list-style: decimal;
    margin: 10px 0;

    li {
      list-style-position: inside;
      position: relative;
      padding: 5px 0;
      margin: 0 15px;

      li {
        font-size: 0.875rem;
      }
    }
    a {
      color: currentColor;
    }
  }
  table {
    th {
      font-weight: 500;
    }
    th,
    td {
      padding: 10px;
      font-size: 0.875rem;
      vertical-align: top;
    }
  }
  &-light {
    color: #fff;
    * {
      color: #fff;
    }
    p {
      color: currentColor;
    }
  }
}

.count-2 {
  column-count: 2;
  column-gap: 4rem;
}
