.dropdown-menu {
    border-radius: 4px;
    -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
    min-width: 14rem;
    padding: 0;
    margin: 0;
    border: none !important;
    background-color: $bg-white;
    color: $bg-white-inverse;
    .dropdown-header {
        font-size: 0.75rem;
    }
    &.dropdown-menu-anim {
        -webkit-animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-up .3s ease-out 1;
        animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-up .3s ease-out 1
    }
}

.dropdown-menu .dropdown-menu-anim-down.dropdown-menu-anim,
.dropup .dropdown-menu.dropdown-menu-anim {
    -webkit-animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-down .3s ease-out 1;
    animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-down .3s ease-out 1
}

@-webkit-keyframes dropdown-menu-fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes dropdown-menu-fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes dropdown-menu-move-down {
    from {
        margin-top: -10px
    }
    to {
        margin-top: 0
    }
}

@keyframes dropdown-menu-move-down {
    from {
        margin-top: -10px
    }
    to {
        margin-top: 0
    }
}

@-webkit-keyframes dropdown-menu-move-up {
    from {
        margin-top: 10px
    }
    to {
        margin-top: 0
    }
}

@keyframes dropdown-menu-move-up {
    from {
        margin-top: 10px
    }
    to {
        margin-top: 0
    }
}