.filter-directory {
    a {
        color: inherit;
    }
    .filter-directory_bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: $border;
        padding: 0 0 1rem 0;
        margin-bottom: 1rem;
        @include media-breakpoint-down(md) {
            & {
                flex-direction: column;
            }
        }
        .filter-directory_search_input {
            background: url(../media/retina/magnifying-glass.svg) no-repeat 93% center;
            background-size: 16px;
            margin-#{$end-direction}: 1rem;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 170px;
            flex: 0 0 170px;
            max-width: 170px;
            font-size: 0.8rem;
            @include media-breakpoint-down(md) {
                & {
                    margin: 0;
                    margin-bottom: 1rem;
                    flex: auto;
                    max-width: none;
                }
            }
        }
        .filter-directory_indices {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            flex-direction: row;
            flex-wrap: nowrap;
            @include media-breakpoint-down(md) {
                & {
                    justify-content: flex-start;
                    overflow-x: auto;
                    width: 100%;
                }
            }
            li {
                font-size: 0.8rem;
                padding: 0.4rem;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
    .filter-directory_disabled {
        opacity: 0.2;
    }
}

.filter-directory_list {
    padding: 0;
    height: 465px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    white-space: nowrap;
    overflow-y: auto;
    li {
        margin: 0.5rem 0;
        margin-#{$end-direction}: 2rem;
        font-size: 0.8rem;
    }
    .filter-directory_list_title {
        text-transform: uppercase;
        font-weight: 600;
    }
    .lb-txt {
        font-size: 0.8rem;
    }
    .filter-directory_count {
        opacity: 0.66;
        font-size: 0.7rem;
    }
}