.form {
    .form-group {
        margin-bottom: 1.5rem;
    }
    .form-text {
        font-size: 0.7rem;
    }
    input {
        padding: 0 1rem;
        border: $border;
        background-color: $bg-white;
        color: $bg-white-inverse;
        height: 42px;
        font-size: 0.8rem;
        line-height: 2.0714285714rem;
        border-radius: 2px;
        outline: none;
        font-family: inherit;
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:hover {
            border-color: $border-color;
            outline: none !important;
            box-shadow: 0 0 0 0 $brand-color;
        }
        &:focus {
            border-color: $brand-color;
            outline: none !important;
            box-shadow: 0 0 0 0 $brand-color;
        }
        &:disabled {
            color: rgba(0, 0, 0, 0.38);
            background-color: rgba(0, 0, 0, 0.12);
            -webkit-box-shadow: none;
            box-shadow: none;
            cursor: initial;
        }
        &.is-invalid {
            border-color: $danger;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23ed4c78' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ed4c78' stroke='none'/%3e%3c/svg%3e");
        }
        &[type="text"] {
            @extend input;
        }
        &[type="email"] {
            @extend input;
        }
        &[type="phone"] {
            @extend input;
        }
        &[type="search"] {
            @extend input;
        }
        &[type="password"] {
            @extend input;
        }
        &[type="date"] {
            @extend input;
        }
        &[type="url"] {
            @extend input;
        }
        &[type="tel"] {
            @extend input;
        }
        &[type="number"] {
            @extend input;
        }
        &[type="file"] {
            @extend input;
        }
        &[type="file"] {
            height: auto;
        }
    }
    select {
        @extend input;
        padding-#{$end-direction}: 35px;
        background-image: url(../media/retina/down-arrow.svg);
        background-size: 10px;
        background-color: $bg-white;
        background-repeat: no-repeat;
        background-position: calc(100% - 11px) center;
        font-family: $font-family2;
    }
    textarea {
        @extend input;
        resize: vertical;
        height: 120px;
        line-height: 1.5;
    }
    label {
        font-size: 0.8rem;
        color: lighten($body-color, 30);
        margin: 0;
        margin-bottom: 5px;
        display: inline-block;
        min-height: none;
        cursor: default;
        /*opacity: 0.6;*/
        &:empty {
            min-height: 18px;
        }
        a {
            color: $brand-color;
        }
    }
    [type="submit"] {
        position: relative;
        display: inline-block;
        margin: 0 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 64px;
        height: 42px;
        text-align: center;
        font-size: 0.9rem;
        line-height: normal;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        &:hover,
        &:focus {
            box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.05), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
        }
        &:active {
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 5px 0px rgba(0, 0, 0, 0.04), 0px 1px 10px 0px rgba(0, 0, 0, 0.04);
        }
    }
    [type="button"] {
        @extend [type="submit"];
    }
    [type="reset"] {
        @extend [type="submit"];
    }
    input button {
        @extend [type="submit"];
    }
    button {
        @extend [type="submit"];
        &:focus {
             :before {
                opacity: 0.2;
            }
        }
        &:active {
             :before {
                opacity: 0.32;
            }
        }
        &:disabled {
             :before {
                opacity: 0;
            }
        }
        &:focus {
             :after {
                opacity: 0.2;
            }
        }
        &:active {
             :after {
                opacity: 0.4;
                -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
                -webkit-transition: -webkit-transform 0s;
                transition: -webkit-transform 0s;
                transition: transform 0s;
                transition: transform 0s, -webkit-transform 0s;
            }
        }
        &:disabled {
             :after {
                opacity: 0;
            }
        }
    }
    .no--focus {
        &:focus {
            outline: none !important;
            border-color: inherit !important;
        }
    }
}

.form-control {
    @extend .form;
    background-color: $bg-white;
    color: $bg-white-inverse;
    border-color: $border-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-icon {
    position: relative;
    padding: 0;
    width: 100%;
    >.input-icon__icon {
        position: absolute;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        top: 0;
        width: 3.2rem;
        >span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: 100%;
            i {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                line-height: 0;
                color: black;
            }
        }
        .input-icon__icon--left {
            left: 0;
        }
        .input-icon__icon--right {
            right: 0;
        }
    }
    &.input-icon--left {
        .form-control {
            padding-left: 2.8rem;
        }
    }
}

.form-floating {
    &__group {
        position: relative;
    }
    &__label {
        position: absolute;
        left: 1rem;
        top: 0;
        line-height: 44px;
        margin: 0;
        transform: scale(1);
        transform-origin: left top;
        transition: transform 0.2s ease-in-out;
        pointer-events: none;
    }
    &__field {
        padding-top: 16px !important;
        width: 100%;
        height: 44px;
        line-height: normal;
        -webkit-appearance: none;
        resize: none;
        transition: all .35s ease-in-out;
        &:focus {
            outline-color: $brand-color;
            border-color: $brand-color;
            +.form-floating__label {
                transform: translateY(-6px) scale(0.8);
            }
        }
        &.filled+.form-floating__label {
            opacity: 0.7;
            transform: translateY(-6px) scale(0.8);
        }
    }
    textarea {
        padding-top: 1.5rem !important;
    }
}

.form-floating__group {
    textarea {
        +.form-floating__label {
            top: 1px;
            padding-top: 10px;
            line-height: 1.2;
            background-color: $bg-white;
            opacity: 1;
            right: 1px;
        }
        &:focus+.form-floating__label {
            transform: translateY(0px) scale(0.8);
            opacity: 1;
        }
        &.filled {
            +.form-floating__label {
                opacity: 1;
                transform: translateY(0px) scale(0.8);
            }
        }
    }
}

.password-toggle {
    position: absolute;
    top: 13px;
    right: 1rem;
    cursor: pointer;
}

.write-review__about .form-floating__group textarea[readonly]+.form-floating__label {
    background-color: #e9ecef;
}

.form--inline {
    display: flex;
    .form-group {
        margin-#{$end-direction}: 10px;
        flex: 1;
    }
}

.custom-select {
    font-size: 0.8rem;
    border-radius: 2px;
    padding-#{$end-direction}: 35px;
    background-image: url(../media/retina/down-arrow.svg);
    background-size: 10px;
    background-color: $bg-white;
    background-repeat: no-repeat;
    background-position: calc(100% - 11px) center;
}

.file-input {
    position: relative;
    flex: 1;
    height: 36px;
    input {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    label.btn {
        height: 100%;
        padding: 7px;
        color: #fff;
    }
}

select {
    font-family: $font-family2;
}