$card-radius: 20px;
.post {
  display: flex;
  // flex-flow: row wrap;
  align-items: center;
  gap: 2rem;

  &-head {
    position: relative;
  }
  &-media {
    aspect-ratio: 1/1;
    img {
      border-radius: $card-radius;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-title {
    font-weight: 700;
    line-height: 1;
    font-size: clamp(2.5rem, 2vw, 4rem);
  }
  &-description {
    color: $txt-body;
  }
  &-date {
    color: $txt-gray;
  }
  &-meta-1 {
    margin-bottom: 2.5rem;
    font-weight: 500;
    display: flex;
    gap: 1rem;
    align-items: center;
    .tag-category {
      //background-color: $brand-color;
      background: $brand-color;
      background: -webkit-linear-gradient(
        left,
        $brand-color 0%,
        lighten($brand-color, 10) 51%,
        $brand-color 100%
      );
      background: linear-gradient(
        to right,
        $brand-color 0%,
        lighten($brand-color, 10) 51%,
        $brand-color 100%
      );
      background-size: 200% auto;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      color: lighten($brand-color, 40);
      padding: 0.4rem 0.8rem;
      font-size: 0.85rem;
      border-radius: 20px;
      &:hover {
        background-position: right center;
      }
    }
  }
  &-meta-2 {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 0.85rem;
    .author-photo {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
    .author-name {
      font-weight: 600;
      margin-left: 8px;
    }

    .time-to-read {
      color: $txt-gray;
    }
  }

  &-card {
    gap: 0;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
    .post-meta-1 {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }

    .post-title {
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    .post-media {
      aspect-ratio: 4/3;
      img {
        border-top-left-radius: $card-radius;
        border-top-right-radius: $card-radius;
      }
    }

    .post-body {
      padding: 1.5rem;
      background-color: #fff;
      border-bottom-left-radius: $card-radius;
      border-bottom-right-radius: $card-radius;
    }
  }
  &-list {
    margin-bottom: 2rem;
    .post-head {
      max-width: 30%;
      flex: 0 0 30%;
      @include media-breakpoint-up(lg) {
        max-width: 40%;
        flex: 0 0 40%;
      }
    }
    .post-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding: 0;
    }
    .post-description {
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
    .post-title {
      font-size: 1rem;
    }
  }
}
.section-hero {
  padding: 5rem 0;
}

.hero-post {
  padding: 3rem 0;
  flex-direction: column-reverse;
  @include media-breakpoint-up(lg) {
    gap: 5rem !important;
    flex-direction: row-reverse;
  }
  .post-body {
    @include media-breakpoint-up(lg) {
      max-width: 40%;
      flex: 0 0 40%;
    }
  }
  .post-meta-2 {
    margin-top: 2.5rem;
  }
  .post-media {
    img {
      border-radius: $card-radius;
    }
  }
}

.thumb-overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, transparent),
    to(rgba(0, 0, 0, 0.8))
  );
  background: -webkit-linear-gradient(
    top,
    transparent 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -o-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.editor-slider {
  &-item {
    padding: 2rem;
    @include media-breakpoint-up(lg) {
      padding: 0 4rem;
    }
    background-color: lighten($bg-brand, 40);
    border-radius: 40px;
  }
  .post {
    @include media-breakpoint-down(lg) {
      padding: 0;
    }

    align-items: flex-end;
  }
  .post-media {
    @include media-breakpoint-up(lg) {
      margin-top: -4rem;
    }
  }
}

//CTA
.section-cta {
  background-color: #000;
}
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  flex-flow: row wrap;
  color: #fff;
  h4 {
    margin: 0;
  }
}
.bg-brand-light {
  background-color: lighten($bg-brand, 45);
}

.trending-carousel {
  @include media-breakpoint-down(lg) {
    overflow-x: auto;
  }
  display: flex;
  gap: 1.5rem;
  .category-thumb {
    @include media-breakpoint-down(lg) {
      min-width: 120px;
    }
    flex: 1;
    max-width: 200px;
    min-height: 160px;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    text-align: center;
    .category-name {
      position: absolute;
      color: #fff;
      margin: 0;
      font-size: 1rem;
      font-weight: 600;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.subscribe-wrapper {
  color: var(--dark);
  text-align: center;
  h3 {
    font-size: 24px;
    font-weight: 600;
    color: inherit;
    margin-bottom: 0px;
  }
  p {
    margin-bottom: 2rem;
  }
}

.section-subscribe {
  background-color: $bg-gray-light;
  border-top: $border;
}
.form-subscribe {
  position: relative;
  &-input {
    background-color: transparent;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: solid 2px #000;
    padding: 0 1rem;
    padding-#{$end-direction}: 2rem;
  }

  &-btn {
    height: 100%;
    width: 50px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

///detail page
.hero-post-detail {
  padding-top: 3rem;
  max-width: 700px;
  margin: 0 auto;
  flex-flow: column-reverse;
}
.post-detail-cms {
  max-width: 700px;
  margin: 0 auto;
  blockquote {
    position: relative;
    padding: 2rem;
    font-weight: 400;
    margin: 1.5rem 0;
    background-color: lighten($bg-brand, 40);
    border-radius: 20px;
    border: 1px solid $bg-brand;
  }
}
