.quantity {
    background: $bg-white;
    border: $border;
    height: 34px;
    display: flex;
    align-items: center;
    max-width: 108px;
    border-radius: $radius2;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        max-width: 32px;
        flex: 0 0 32px;
        width: 32px;
        height: 100%;
        font-size: 0.7rem;
        color: $txt-gray;
        &:hover {
            color: $body-color;
        }
    }
    input {
        border: none;
        text-align: center;
        padding: 0 8px;
        width: 100%;
        height: 100%;
        font-size: 0.7rem;
        font-weight: 400;
        min-width: 0px;
    }
    &-2 {
        max-width: 90px;
        height: 24px;
        border: none;
        span {
            width: 24px;
            flex: 0 0 24px;
            max-width: 24px;
            background-color: $bg-gray;
            border-radius: $radius2;
        }
    }
}