.ribbon {
    position: relative;
    .ribbon__target {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 5px 10px;
        position: relative;
        z-index: 1;
        background-color: $brand-color;
        color: #ffffff;
        >.ribbon__inner {
            z-index: -1;
            position: relative;
            padding: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &:after {
            border-color: #082d88;
        }
    }
    &--ver {
        .ribbon__target {
            padding: 5px 5px;
            width: 36px;
            text-align: center;
            display: block;
            i:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    &--shadow {
        .ribbon__target {
            -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
        }
    }
    &#{&}--round {
        &.ribbon--top {
            .ribbon__target {
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
            }
        }
        &.ribbon--bottom {
            .ribbon__target {
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
        &.ribbon--left {
            .ribbon__target {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
        &.ribbon--right {
            .ribbon__target {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
    &--border-ver {
        .ribbon__target {
            &:after {
                border-top: none;
                border-bottom: none;
                border-left: 1px solid;
                border-right: 1px solid;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 5px;
                right: 5px;
            }
        }
    }
    &--border-hor {
        .ribbon__target {
            &:after {
                border-top: 1px solid;
                border-bottom: 1px solid;
                border-left: none;
                border-right: none;
                content: '';
                position: absolute;
                top: 5px;
                bottom: 5px;
                left: 0;
                right: 0;
            }
        }
    }
    &--border-dash-ver {
        .ribbon__target {
            &:after {
                border-top: none;
                border-bottom: none;
                border-left: 1px solid;
                border-right: 1px solid;
                border-left-style: dashed;
                border-right-style: dashed;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 5px;
                right: 5px;
            }
        }
    }
    &--border-dash-hor {
        .ribbon__target {
            &:after {
                border-top: 1px solid;
                border-bottom: 1px solid;
                border-left: none;
                border-right: none;
                border-top-style: dashed;
                border-bottom-style: dashed;
                content: '';
                position: absolute;
                top: 5px;
                bottom: 5px;
                left: 0;
                right: 0;
            }
        }
    }
    &--clip {
        &.ribbon--left {
            .ribbon__target {
                left: -10px;
                .ribbon__inner {
                    &:before {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-color: transparent !important;
                        bottom: -10px;
                        border-width: 0 10px 10px 0;
                        border-right-color: #222 !important;
                        left: 0;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-color: transparent !important;
                        bottom: -10px;
                    }
                }
            }
        }
        &.ribbon--right {
            .ribbon__target {
                right: -10px;
                .ribbon__inner {
                    &:before {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-color: transparent !important;
                        bottom: -10px;
                        border-width: 0 0 10px 10px;
                        border-left-color: #222 !important;
                        right: 0;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-color: transparent !important;
                        bottom: -10px;
                    }
                }
            }
        }
    }
    &--flag {
        .ribbon__target {
            >.ribbon__inner {
                &:after {
                    border-left: 18px solid;
                    border-right: 18px solid;
                    border-bottom: 1em solid transparent !important;
                    bottom: -1em;
                    content: '';
                    height: 0;
                    left: 0;
                    position: absolute;
                    width: 0;
                }
            }
        }
    }
    &--brand {
        .ribbon__target {
            background-color: $brand-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $brand-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $brand-color;
                    border-right-color: $brand-color;
                }
            }
        }
    }
    &--light {
        .ribbon__target {
            background-color: #ffffff;
            color: $body-color;
            &:after {
                border-color: rgba(40, 42, 60, 0.5);
            }
            >.ribbon__inner {
                background-color: #ffffff;
                color: $body-color;
                &:after {
                    border-color: transparent;
                    border-left-color: #ffffff;
                    border-right-color: #ffffff;
                }
            }
        }
    }
    &--dark {
        .ribbon__target {
            background-color: $body-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $body-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $body-color;
                    border-right-color: $body-color;
                }
            }
        }
    }
    &--primary {
        .ribbon__target {
            background-color: $primary-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $primary-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $primary-color;
                    border-right-color: $primary-color;
                }
            }
        }
    }
    &--success {
        .ribbon__target {
            background-color: $success-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $success-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $success-color;
                    border-right-color: $success-color;
                }
            }
        }
    }
    &--info {
        .ribbon__target {
            background-color: $info-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $info-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $info-color;
                    border-right-color: $info-color;
                }
            }
        }
    }
    &--warning {
        .ribbon__target {
            background-color: $warning-color;
            color: #111111;
            &:after {
                border-color: rgba(17, 17, 17, 0.5);
            }
            >.ribbon__inner {
                background-color: $warning-color;
                color: #111111;
                &:after {
                    border-color: transparent;
                    border-left-color: $warning-color;
                    border-right-color: $warning-color;
                }
            }
        }
    }
    &--danger {
        .ribbon__target {
            background-color: $danger-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $danger-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $danger-color;
                    border-right-color: $danger-color;
                }
            }
        }
    }
}