.switch {
  display: inline-block;
  font-size: 1rem;
  input {
    &:empty {
      margin-left: -999px;
      height: 0;
      width: 0;
      overflow: hidden;
      position: absolute;
      opacity: 0;
      ~ {
        span {
          display: inline-block;
          position: relative;
          float: left;
          width: 1px;
          text-indent: 0;
          cursor: pointer;
          user-select: none;
          line-height: 30px;
          margin: 2px 0;
          height: 30px;
          width: 57px;
          border-radius: 15px;
          &:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: " ";
            transition: all 100ms ease-in;
            width: 54px;
            border-radius: 15px;
            background-color: #e8ebf1;
          }
          &:after {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: " ";
            transition: all 100ms ease-in;
            width: 54px;
            border-radius: 15px;
            height: 24px;
            width: 24px;
            line-height: 26px;
            top: 3px;
            bottom: 3px;
            margin-left: 3px;
            font-size: 0.9em;
            text-align: center;
            vertical-align: middle;
            color: #f8f9fb;
            background-color: #ffffff;
          }
        }
      }
    }
    &:checked {
      ~ {
        span {
          &:after {
            margin-left: 26px;

            @include bg-brand;
          }
          &:before {
            background-color: #e8ebf1;
          }
        }
      }
    }
  }
  input[disabled] {
    cursor: not-allowed;
    ~ {
      span {
        &:after {
          cursor: not-allowed;
          opacity: 0.7;
        }
        &:before {
          cursor: not-allowed;
          opacity: 0.7;
        }
      }
    }
  }
  &#{&}--icon {
    input {
      &:empty {
        ~ {
          span {
            &:after {
              font-family: "LineAwesome";
              text-decoration: inherit;
              text-rendering: optimizeLegibility;
              text-transform: none;
              -moz-osx-font-smoothing: grayscale;
              -webkit-font-smoothing: antialiased;
              font-smoothing: antialiased;
              content: "";
            }
          }
        }
      }
      &:checked {
        ~ {
          span {
            &:after {
              content: "\f17b";
            }
          }
        }
      }
    }
  }
  &#{&}--icon-check {
    input {
      &:checked {
        ~ {
          span {
            &:after {
              font-family: "LineAwesome";
              text-decoration: inherit;
              text-rendering: optimizeLegibility;
              text-transform: none;
              -moz-osx-font-smoothing: grayscale;
              -webkit-font-smoothing: antialiased;
              font-smoothing: antialiased;
              content: "";
            }
          }
        }
      }
    }
  }
  &#{&}--lg {
    input {
      &:empty {
        ~ {
          span {
            line-height: 40px;
            margin: 2px 0;
            height: 40px;
            width: 75px;
            border-radius: 20px;
            &:before {
              width: 72px;
              border-radius: 20px;
            }
            &:after {
              width: 72px;
              border-radius: 20px;
              height: 34px;
              width: 34px;
              line-height: 34px;
              top: 3px;
              bottom: 3px;
              margin-left: 3px;
              font-size: 1em;
              text-align: center;
              vertical-align: middle;
            }
          }
        }
      }
      &:checked {
        ~ {
          span {
            &:after {
              margin-left: 34px;
            }
          }
        }
      }
    }
  }
  &#{&}--sm {
    input {
      &:empty {
        ~ {
          span {
            line-height: 24px;
            margin: 2px 0;
            height: 24px;
            width: 40px;
            border-radius: 12px;
            margin-#{$end-direction}: 10px;
            &:before {
              width: 38px;
              border-radius: 12px;
            }
            &:after {
              width: 38px;
              border-radius: 12px;
              height: 20px;
              width: 20px;
              line-height: 20px;
              top: 2px;
              bottom: 2px;
              margin-left: 2px;
              font-size: 0.8em;
              text-align: center;
              vertical-align: middle;
            }
          }
        }
      }
      &:checked {
        ~ {
          span {
            &:after {
              margin-left: 16px;
            }
          }
        }
      }
    }
  }
  &#{&}--brand {
    &:not(.switch--outline) {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                background-color: $brand-color;
              }
              &:after {
                color: $brand-color;
                background-color: #ffffff;
                opacity: 0.4;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: $brand-color;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--outline {
    &.switch--brand {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                border: 2px solid #dee3eb;
                background-color: #e8ebf1;
              }
              &:after {
                color: #ffffff;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: #ffffff;
              }
              &:after {
                background-color: $brand-color;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--light {
    &:not(.switch--outline) {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                background-color: #ffffff;
              }
              &:after {
                color: #ffffff;
                background-color: $body-color;
                opacity: 0.4;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: #ffffff;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--outline {
    &.switch--light {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                border: 2px solid #dee3eb;
                background-color: #e8ebf1;
              }
              &:after {
                color: $body-color;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: $body-color;
              }
              &:after {
                background-color: #ffffff;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--dark {
    &:not(.switch--outline) {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                background-color: $body-color;
              }
              &:after {
                color: $body-color;
                background-color: #ffffff;
                opacity: 0.4;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: $body-color;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--outline {
    &.switch--dark {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                border: 2px solid #dee3eb;
                background-color: #e8ebf1;
              }
              &:after {
                color: #ffffff;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: #ffffff;
              }
              &:after {
                background-color: $body-color;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--primary {
    &:not(.switch--outline) {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                background-color: $primary-color;
              }
              &:after {
                color: $primary-color;
                background-color: #ffffff;
                opacity: 0.4;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: $primary-color;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--outline {
    &.switch--primary {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                border: 2px solid #dee3eb;
                background-color: #e8ebf1;
              }
              &:after {
                color: #ffffff;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: #ffffff;
              }
              &:after {
                background-color: $primary-color;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--success {
    &:not(.switch--outline) {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                background-color: $success-color;
              }
              &:after {
                color: $success-color;
                background-color: #ffffff;
                opacity: 0.4;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: $success-color;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--outline {
    &.switch--success {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                border: 2px solid #dee3eb;
                background-color: #e8ebf1;
              }
              &:after {
                color: #ffffff;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: #ffffff;
              }
              &:after {
                background-color: $success-color;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--info {
    &:not(.switch--outline) {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                background-color: $info-color;
              }
              &:after {
                color: $info-color;
                background-color: #ffffff;
                opacity: 0.4;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: $info-color;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--outline {
    &.switch--info {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                border: 2px solid #dee3eb;
                background-color: #e8ebf1;
              }
              &:after {
                color: #ffffff;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: #ffffff;
              }
              &:after {
                background-color: $info-color;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--warning {
    &:not(.switch--outline) {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                background-color: $warning-color;
              }
              &:after {
                color: $warning-color;
                background-color: #111111;
                opacity: 0.4;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: $warning-color;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--outline {
    &.switch--warning {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                border: 2px solid #dee3eb;
                background-color: #e8ebf1;
              }
              &:after {
                color: #111111;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: #111111;
              }
              &:after {
                background-color: $warning-color;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--danger {
    &:not(.switch--outline) {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                background-color: $danger-color;
              }
              &:after {
                color: $danger-color;
                background-color: #ffffff;
                opacity: 0.4;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: $danger-color;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &#{&}--outline {
    &.switch--danger {
      input {
        &:empty {
          ~ {
            span {
              &:before {
                border: 2px solid #dee3eb;
                background-color: #e8ebf1;
              }
              &:after {
                color: #ffffff;
              }
            }
          }
        }
        &:checked {
          ~ {
            span {
              &:before {
                background-color: #ffffff;
              }
              &:after {
                background-color: $danger-color;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.form-group.row {
  .switch {
    margin-top: 0.15rem;
    &.switch--lg {
      margin-top: 0rem;
      position: relative;
      top: -0.3rem;
    }
    &.switch--sm {
      margin-top: 0.3rem;
    }
  }
}
